.modal {
    max-width: 800px;
    width: 30vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
.modal.empty {
    display: none;
}
.button_wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 10%;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: wheat;
    border: none;
}