.gamefield-wrapper {
    width: 60vh;
    height: 60vh;
    display: grid;
    grid-gap: 5px;
}
.gamefield-wrapper.asian {
    background:rgba(105, 31, 15, 0.8);
    border: 10px solid rgba(87, 38, 12, 1);;
    border-radius: 15px;
}
.nine-cells {
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
}
.sixteen-cells {
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p";
}

@media(max-width: 500px) {
    .gamefield-wrapper {
      width: 70vw;
      height: 70vw;
    }
  }